<div class="uiWorkbench">
	<div class="heading">
		<div class="mainHeading heading-text">Workbench</div>
	</div>
	<div class="bottom">
		<div class="left">
			<div class="heading">Recipes</div>
			<div class="list">
				
			</div>
		</div>
		<div class="right">
			<div class="info">
				<div class="icon"></div>
				<div class="title"></div>
				<div class="description"></div>
			</div>
			<div class="needItems">
				<div class="title">Pick Items</div>
				<div class="list"></div>
			</div>
			<div class="materialList">
				<div class="heading">Requires:</div>
			</div>
			<div class="buttons">
				<div class="btn btnCancel">Cancel</div>
				<div class="btn btnCraft disabled">Craft</div>
			</div>
		</div>
	</div>
	<div class="itemPicker">
		<div class="heading">
			<div class="heading-text"></div>
		</div>
		<div class="list">
			
		</div>
	</div>
</div>
