<div class="uiHud">
	<div class="hudBox">
		<div class="portraitBox">
			<div class="portrait"></div>
		</div>
		<div class="boxes">
			<div class="statBox">
				<div class="statHp"></div>
				<div class="text"></div>
			</div>
			<div class="statBox">
				<div class="statMana"></div>
				<div class="statManaReserve"></div>
				<div class="text"></div>
			</div>
			<div class="statBox">
				<div class="statXp"></div>
				<div class="text"></div>
			</div>
		</div>
	</div>
	<div class="quickBar">
		<div class="quickItemBox">
			<div class="quickItem">
				<div class="icon"></div>
				<div class="info">R</div>
				<div class="cooldown"></div>
			</div>
		</div>
	</div>
</div>
