@import "../../../css/colors.less";

.middleHud {
	position: absolute;
	left: calc(50% - 12px);
	top: calc(50% + 31px);

	.btnGather {
		display: none;
		background-color: @greenC;
		padding: 5px 10px 5px 10px;
		color: @white;
		width: 100px;
		margin-left: calc(12px - 50px);
		text-align:center;
	}

	.casting {
		display: none;
		width: 32px;
		height: 5px;
		position: relative;
		background-color: @brownD;

		.bar {
			width: 0%;
			height: 100%;
			background-color: @yellowB;
		}

		.text {
			position: absolute;
			left: 0px;
			top: 0px;
			padding-top: 2px;
			width: 100%;
			text-align: center;
			color: @black;
		}
	}
}
