<div class="uiWorkbenchAlchemy">
	<div class="heading">
		<div class="heading-text">Alchemy Workbench</div>
	</div>
	<div class="bottom">
		<div class="left">
			<div class="heading">Recipes</div>
			<div class="list">
				<div class="item">Minor Healing Potion</div>
				<div class="item selected">Lesser Healing Potion</div>
				<div class="item">Healing Potion</div>
				<div class="item">Greater Healing Potion</div>
				<div class="item">Ultimate Healing Potion</div>
			</div>
		</div>
		<div class="right">
			<div class="info">
				<div class="icon"></div>
				<div class="title">Lesser Healing Potion</div>
				<div class="description">Sometimes you need an amount of health that exceeds the amount a Minor Healing Potion would afford but less than a regular Healing Potion would restore. This potion has you covered.</div>
			</div>
			<div class="materialList">
				<div class="heading">Requires:</div>
				<div class="material need">Skyblossom x3</div>
				<div class="material">Empty Flask x1</div>
			</div>
			<div class="buttons">
				<div class="btn btnCancel">Cancel</div>
				<div class="btn btnCraft">Craft</div>
			</div>
		</div>
	</div>
</div>
