body {
	background-color: #2d2136;
	padding: 10px;
	margin: 0px;
	display: flex;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

* {
	box-sizing: border-box;
}

.text {
	background-color: #3c3f4c;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	font-family: bitty;
	color: #fafcfc;
	display: flex;
	justify-content: center;
	align-items: center;
	height: max-content;
}

.text,
.tooltip {
	margin-right: 10px;
}

@font-face {
	font-family: bitty;
	src: url('../../src/client/fonts/bitty.ttf');
}

.tooltip {
	background-color: #3c3f4c;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	font-family: bitty;
}

.sprite-box {
	margin: 0 auto;
	height: 64px;
	width: 64px;
	margin-bottom: 15px;
	background-color: #2d2136;
	padding: 5px;
}

.sprite {
	height: 64px;
}

.name.q0 {
	color: #fafcfc;
}

.name.q1 {
	color: #3fa7dd;
}

.name.q2 {
	color: #ffeb38;
}

.name.q3 {
	color: #a24eff;
}

.name.q4 {
	color: #ff6942;
}

.type {
	color: #69696e;
	margin-bottom: 15px;
}

.rqr {
	color: #fafcfc;
	margin-bottom: 15px;
}

.stats {
	color: #929398;
}

.stat {
	margin-bottom: 5px;
}

.stat:before {
	content: '*';
	margin-right: 5px;
}
