body {
	background-color: #2d2136;
	padding: 10px;
	margin: 0px;
}

@font-face
{
    font-family: bitty;
    src: url('../../src/client/fonts/bitty.ttf');
}

.tooltip {
	background-color: #3c3f4c;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	font-family: bitty;
	width: 400px;
}

.sprite-box {
	margin: 0 auto;
	height: 64px;
	width: 64px;
	margin-bottom: 15px;
	background-color: #2d2136;
	padding: 5px;
}

.sprite {
	height: 64px;
}

.name.q0 {
	color: #fafcfc;
}

.name.q1 {
	color: #3fa7dd;
}

.name.q2 {
	color: #ffeb38;
}

.name.q3 {
	color: #a24eff;
}

.name.q4 {
	color: #ff6942;
}

.type {
	color: #69696e;
	margin-bottom: 15px;
}

.rqr {
	color: #fafcfc;
	margin-bottom: 15px;
}

.stats {
	color: #929398;
}

.stat {
	margin-bottom: 5px;
}
