<div class="uiOptions">
	<div class="heading">
		<div class="heading-text">Options</div>
	</div>
	<div class="bottom">
		<div class="list">
			<div class="heading game">Game</div>
			<div class="item screen">
				<div class="name">Fullscreen</div>
				<div class="value">Off</div>
			</div>
			<div class="item volume sound">
				<div class="name">Sound Volume</div>
				<div class="value">100</div>
				<div class="slider">
					<div class="btn decrease">-</div>
					<div class="bar">
						<div class="tick"></div>
					</div>
					<div class="btn increase">+</div>
				</div>
			</div>
			<div class="item volume music">
				<div class="name">Music Volume</div>
				<div class="value">100</div>
				<div class="slider">
					<div class="btn decrease">-</div>
					<div class="bar">
						<div class="tick"></div>
					</div>
					<div class="btn increase">+</div>
				</div>
			</div>
			<div class="heading hud">HUD</div>
			<div class="item nameplates">
				<div class="name">Nameplates</div>
				<div class="value">On</div>
			</div>
			<div class="item quests">
				<div class="name">Quests</div>
				<div class="value">On</div>
			</div>
			<div class="item events">
				<div class="name">Events</div>
				<div class="value">On</div>
			</div>
			<div class="item partyView">
				<div class="name">Party</div>
				<div class="value">Full</div>
			</div>
			<div class="heading inventory">Inventory</div>
			<div class="item quality">
				<div class="name">Quality Indicators</div>
				<div class="value">Off</div>
			</div>
			<div class="item unusable">
				<div class="name">Unusable Indicators</div>
				<div class="value">Off</div>
			</div>
			<div class="heading inventory">Chat</div>
			<div class="item lastChannel">
				<div class="name">Remember Last Chat Channel</div>
				<div class="value">On</div>
			</div>
		</div>
	</div>
</div>
