<div class="uiOptions">
	<div class="heading">
		<div class="heading-text">Options</div>
	</div>
	<div class="bottom">
		<div class="list">
			<div class="item screen">
				<div class="name">Fullscreen</div>
				<div class="value">Off</div>
			</div>
			<div class="item nameplates">
				<div class="name">Nameplates</div>
				<div class="value">On</div>
			</div>
			<div class="item quests">
				<div class="name">Quests</div>
				<div class="value">On</div>
			</div>
			<div class="item events">
				<div class="name">Events</div>
				<div class="value">On</div>
			</div>
			<div class="item audio">
				<div class="name">Audio</div>
				<div class="value">On</div>
			</div>
		</div>
	</div>
</div>
